@import 'fonts.css';


* {
    box-sizing: border-box;
}

header,
header .navbar {
    width: 100%;
}

header nav.navbar {
    background-color: #fff;

}

.navbar-nav {
    float: right;
}

header nav.navbar .nav-item {
    padding: 0 10px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'montserratlight', sans-serif;
}

header .login {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

header .login img {
    width: 50px;
    margin: 0 1em;
}

.img-responsive {
    max-width: 100%;
}


.btn-outline-primary.custom-file-control:before,
.btn.btn-outline-primary {
    color: #474463;
    border-color: #474463;
}

.bmd-btn-fab.btn-primary.custom-file-control:before,
.btn-group-raised .btn-primary.custom-file-control:before,
.btn-group-raised .btn.btn-primary,
.btn-raised.btn-primary.custom-file-control:before,
.btn.bmd-btn-fab.btn-primary,
.btn.btn-raised.btn-primary {
    color: #fff;
    background-color: #474463;
    border-color: #474463;

}

.btn {
    font-family: 'montserratmedium', sans-serif !important;
}

.btn.btn-default {
    text-transform: lowercase;
}

form .form-check {
    padding-left: 25px;
}

form label.form-check-label {
    vertical-align: bottom;
}

form label.form-check-label input[type='checkbox'] {
    display: none;
}

form label.form-check-label input[type='checkbox']:checked~.checkmark {
    opacity: 1;
    transition: 0.1s ease;
}

form label.form-check-label .checkmark {
    opacity: 0;
    position: absolute;
    width: 7px;
    height: 11px;
    border-right: 3px solid #474463;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(40deg);
    top: 5px;
    left: 6px;
    border-radius: 2px;
    border-bottom: 3px solid #474463;
}

form label.form-check-label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 19px;
    height: 19px;
    border: 2px solid #474463;
    border-radius: 2px;
}

body.login .row,
.container-fluid {
    min-height: 90vh;
}

body.login footer {
    min-height: 10vh;
}

body.login .card {
    padding: 3em;
}

body.login .logo {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

body.login .row {
    padding: 0 1em;
}

.dashboard-img {
    width: 500px;
    opacity: .7;
}

.navbar-collapse {
    flex-grow: inherit;
}

.navbar-brand img {
    width: 150px;
}

.navbar ul li a {
    color: #474463;
    font-weight: 700;
    text-transform: lowercase;
    letter-spacing: 1px;
}

.navbar ul li a:hover,
.navbar ul li a:active {
    color: #cf2938;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
}

input.form-control {
    min-height: 40px;
}

.fc-ltr .fc-list-heading-main {
    display: block;
    font-size: 14px;
    text-align: right;
    float: none;
}

.fc-ltr .fc-list-heading-alt {
    display: block;
    text-align: right;
    float: none;
}