<section>
    <div class="container-fluid">
        <div class="card">
            <div class="row">
                <div class="col">
                    <h1>Calendário</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    filtros aqui
                </div>
            </div>
            <div class="row">
                <div class="col">
                    calendário aqui
                </div>
            </div>
        </div>
    </div>
</section>