<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DH Salas</title>
    <link rel="stylesheet" href="/css/bootstrap-material-design.min.css">
</head>

<body>
    <h1>Olá </h1>

    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap-material-design.js"></script>
</body>

</html>