<div class="container-fluid">
    <div class="row">
        <div class="col mt-5 mb-5">
            <button class="btn btn-outline-primary">Reserva rápida</button>
            <button class="btn btn-outline-primary">Reserva customizada</button>
            <button class="btn btn-outline-primary">Ver calédario</button>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-8">
            <img src="/images/undraw_dashboard.svg" alt="">
        </div>
        <div class="co col-sm-4">
            resumo calendario aqui
        </div>
    </div>
</div>