<div class="container-fluid">
    {{!-- <div class="row">
        <div class="col mt-5 mb-5">
            <button class="btn btn-outline-primary">Reserva rápida</button>
            <button class="btn btn-outline-primary">Reserva customizada</button>
            <button class="btn btn-outline-primary">Ver calédario</button>
        </div>
    </div> --}}
    <div class="row">
        <div class="col col-sm-9 text-center">
            <p class="mb-5 mt-5">ops, ainda não temos dados para exibir aqui</p>
            <img src="/images/undraw_dashboard.svg" class="img-responsive dashboard-img" alt="ilustração dashboard">
        </div>
        <div class="col col-sm-3 pt-3">
            <div id='calendar'>

            </div>
        </div>
    </div>
</div>

{{#section 'scripts'}}
<script src='/js/fullcalendar/core/main.js'></script>
<script src='/js/fullcalendar/core/locales/pt-br.js'></script>
<script src='/js/fullcalendar/daygrid/main.js'></script>
<script src='/js/fullcalendar/list/main.js'></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['list'],
            defaultView: 'listWeek',
            locale: "pt-br",
            header: {
                left: 'today',
                center: '',
                right: 'prev,next'
            },
            events: [{
                title: 'Sala 2 - Aula Fullstack',
                start: '2019-09-19T14:30:00',
                extendedProps: {
                    status: 'done'
                }
            },
            {
                title: 'Sala 1 - Aula Marketing',
                start: '2019-09-19T07:00:00',
                backgroundColor: 'green',
                borderColor: 'green'
            },
            {
                title: 'Sala 3 - Aula UX',
                start: '2019-09-19T07:00:00',
                backgroundColor: 'green',
                borderColor: 'green'
            }
            ],
        });

        calendar.render();
    });

</script>
{{/section}}