<div class="container-fluid">
    {{!-- <div class="row">
        <div class="col mt-5 mb-5">
            <button class="btn btn-outline-primary">Reserva rápida</button>
            <button class="btn btn-outline-primary">Reserva customizada</button>
            <button class="btn btn-outline-primary">Ver calédario</button>
        </div>
    </div> --}}
    <div class="row">
        <div class="col col-sm-9 text-center">
            <p class="mb-5 mt-5">ops, ainda não temos dados para exibir aqui</p>
            <img src="/images/undraw_dashboard.svg" class="img-responsive dashboard-img" alt="ilustração dashboard">
        </div>
        <div class="col col-sm-3 pt-3">
           <div id='calendar'>

           </div>
        </div>
    </div>
</div>
