<section class="row justify-content-center align-items-center mt-5 mb-3">
  <div class="col-md-5 card justify-content-center p-5">
    <h1 class="logo">
      Solicitar acesso
    </h1>
    <form class="login/auth" method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="nome" placeholder="nome" id="inputNome">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="email" id="inputEmail">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="senha" placeholder="senha" id="inputPassword">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="inputPassword" placeholder="confirme sua senha">
      </div>

      <div class="form-group d-flex flex-wrap justify-content-between mt-5">
        <button class="btn btn-raised btn-secondary">Já tenho um cadastro</button>
        <button type="submit" class="btn btn-raised btn-primary">Concluir Cadastro</button>
      </div>
      <div class="form-group">
        {{#if erros}}
        <div class="alert alert-warning">

          {{#each erros}}
          <p class="m-0">{{this.message}}</p>
          {{/each}}

        </div>
        {{/if}}
      </div>
    </form>
  </div>

</section>