<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DH Salas</title>
  <link rel="stylesheet" href="/css/bootstrap-material-design.min.css">
  <link rel="stylesheet" href="/css/default.css">
  <style>
    .row, .container-fluid {
      height: 90vh;
    }
    footer {
      height: 10vh;
    }

    .card {
      padding: 3em;
    }

    .logo {
      display: flex;
      justify-content: center;
      font-size: 2rem;
      padding: 1em;
      font-weight: bold;
      text-transform: uppercase;
    }
  .row {
    padding: 0 1em;
  }
  </style>
</head>

<body>
  <main class="container-fluid">
    {{{body}}}
  </main>
  <footer class="text-center">
    <p>Feito com &#10084; por profs</p>
  </footer>
  <script src="/js/jquery-3.2.1.slim.min.js">
  </script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap-material-design.js"></script>
</body>

</html>
